body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-app {
    background-image: url('SerbianWeather.webp');
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
}

.search {
    display: flex;
    margin-bottom: 20px;
}

#city {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

#searchBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

#searchBtn:hover {
    background-color: #0056b3;
}

.weather-info, #forecast {
    margin-top: 20px;
}

.weather-info p, .weather-info h2 {
    margin: 5px 0;
}

#forecast .forecast-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}

#forecast .forecast-day img {
    width: 50px;
}


.fade-in-input {
    opacity: 0;
    transform: translateY(1%);
    animation: fadeIn 1s ease-out forwards;
  }

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
