
/* Desktop Layout */


.contentH1 {
  margin-top: 13%;
  margin-left: 37.5%;
  color: orange;
  
}

.content {
  margin-left: 36%;
  width: 240px;
  height: 322px;
  border-radius: 10px;
  background-color: orange;
  box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
  scale: 268%;
  margin-top: 9%;
  scale: 530%;
}



@media only screen and (min-width:768px){
  /* html, body{
    /* display: flexbox;
    transform: scale(50%);
    transform-origin: top left; 
    min-width: 200%;
    overflow-y: hidden; 
    overflow-x: hidden;  */
    .newNextAndPreviousButtons{
      display: inline-flex;
      position: absolute;
      margin-top: 25%;
      margin-left: 4%;
    }
  
    .content{
      margin-left: 40%;
      margin-top: 1.5%;
      width: 240px;
      height: 220px;
      border-radius: 10px;
      background-color: orange;
      box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
      scale: 268%;
      margin-top: 500px;
    }
   } 

  

   @media only screen and (min-width:50px) and (max-width:500px){
     
  
      .content{
        margin-left: 40%;
        margin-top: 1.5%;
        width: 240px;
        height: 220px;
        border-radius: 10px;
        background-color: orange;
        box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
        scale: 268%;
        margin-top: 500px;
      }

    }

  @media only screen and (min-width:1000px){
    .content {
      margin-left: 40%;
      margin-top: 1.5%;
      width: 240px;
      height: 220px;
      border-radius: 10px;
      background-color: orange;
      box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
      scale: 268%;
      margin-top: 50px;
      scale: 130%;
  }
    }

    
  



@media (min-width: 458px) and (max-width: 550px) {
     
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }
}

@media (min-width: 550px) and (max-width: 600px) {
  
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }


}

@media (min-width: 600px) and (max-width: 650px) {
  
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }
  
  }

  @media (min-width: 650px) and (max-width: 700px) {
  
    .content{
      margin-left: 40%;
      margin-top: 1.5%;
      width: 240px;
      height: 220px;
      border-radius: 10px;
      background-color: orange;
      box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
      scale: 268%;
      margin-top: 500px;
    }
    
    }

    @media (min-width: 700px) and (max-width: 850px) {
  
      .content{
        margin-left: 40%;
        margin-top: 1.5%;
        width: 240px;
        height: 220px;
        border-radius: 10px;
        background-color: orange;
        box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
        scale: 268%;
        margin-top: 500px;
      }
      
      }
    
      @media (min-width: 850px) and (max-width: 900px) {
  
        .content{
          margin-left: 40%;
          margin-top: 1.5%;
          width: 240px;
          height: 220px;
          border-radius: 10px;
          background-color: orange;
          box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
          scale: 268%;
          margin-top: 500px;
        }
        
        }

        @media (min-width: 900px) and (max-width: 1000px) {
  
          .content{
            margin-left: 40%;
            margin-top: 1.5%;
            width: 240px;
            height: 220px;
            border-radius: 10px;
            background-color: orange;
            box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
            scale: 268%;
            margin-top: 500px;
          }
          }
      

        @media (min-width: 1000px) and (max-width: 1100px) {
          .content {
            margin-left: 40%;
            margin-top: 1.5%;
            width: 240px;
            height: 220px;
            border-radius: 10px;
            background-color: orange;
            box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
            scale: 268%;
            margin-top: 50px;
            scale: 130%;
        }
          }
        
     
          @media (min-width: 1100px) and (max-width: 1200px) {
  
  
            .content{
              margin-left: 40%;
              margin-top: 1.5%;
              width: 240px;
              height: 220px;
              border-radius: 10px;
              background-color: orange;
              box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
              scale: 268%;
              margin-top: 500px;
            }
            
            }
          
            @media (min-width: 1200px) and (max-width: 1300px) {
  
  
              .content{
                margin-left: 40%;
                margin-top: 1.5%;
                width: 240px;
                height: 220px;
                border-radius: 10px;
                background-color: orange;
                box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
                scale: 268%;
                margin-top: 500px;
              }
              
              }
         

  

        
 @media (min-width: 427px) and (max-width: 429px) {
  
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }

      }

      /* Mobile Layout 11i Huawei P30 */ */
/* 
@media only screen and (max-width:415px){

  .contentH1 {
    margin-top: 36%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}

  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 246px;
  }
 
} */


/* Responsive Layout */

/* Mobile Layout */
/* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */
@media only screen and (max-width:393px){


  .contentH1 {
    margin-top: 13%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }

 }
 


/* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */
/* @media only screen and (min-width: 800 and max-width:851px){

  .Introduction{
    width: 1435px;
    height: 800px;
    font-size: 90px;
    margin-left: 3%;
    margin-top: 31%;
    position: absolute;
    opacity: 0.75;
    overflow: hidden;
    z-index: 3;
    color: white;
    background: rgb(30,21,20); 
    background: rgba(0, 0, 0, 0.9);
  }
} */

/* @media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: white;
    z-index: 500;
  }
} */

/* On screens that are 600px wide or less, the background color is olive */
/* @media only screen and (max-width: 768px) {
  background-color: olive;
} */



/* Media Queries: Tabled Portrait */
/* @media screen and (max-width: 768px) {
  .HomePageLeft { width:100%; }
  .HomePageRight { width:100%; margin:0; border:none; }
} */

img { max-width: 100%; height: auto; }


/* 
 @media (max-device-width:1200px) {
  .HomePageRight{
    display: none;
  }
}  */


/* @media (min-device-width:1200px) {
  .HomePageRight{
    display: flex;
  }
}  */
/* 
@media (max-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
} */



/* Responsive Layout */

/* Mobile Layout */
/* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */
@media only screen and (max-width:360px){

  .contentH1 {
    margin-top: 13%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}

  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }

}

 /* Apple and smartphones */


 @media (min-width: 374px) and (max-width: 376px) {

  .contentH1 {
    margin-top: 13%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}


  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }   

 }

 @media only screen and (max-width: 393px){

  .contentH1 {
    margin-top: 37%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}


  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 246px;
  }


 }


@media (min-width: 315px) and (max-width: 325px) {

  .contentH1 {
    margin-top: 13%;
    margin-left: 30.5%;
    color: orange;
    font-size: 80px;
}
 
  .content{
    margin-left: 40%;
    margin-top: 1.5%;
    width: 240px;
    height: 220px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 15px 15px 19px rgba(163, 166, 198, 0.848), -15px -15px 19px rgba(163, 198, 191, 0.414);
    scale: 268%;
    margin-top: 500px;
  }

}
 
 
 /* Samsung Galaxy S20 Xiaomi Mi 11i Huawei P30 */
 /* @media only screen and (min-width: 800 and max-width:851px){
 
   .Introduction{
     width: 1435px;
     height: 800px;
     font-size: 90px;
     margin-left: 3%;
     margin-top: 31%;
     position: absolute;
     opacity: 0.75;
     overflow: hidden;
     z-index: 3;
     color: white;
     background: rgb(30,21,20); 
     background: rgba(0, 0, 0, 0.9);
   }
 } */
 
 /* @media screen and (max-width: 992px) {
   body {
     background-color: blue;
     color: white;
     z-index: 500;
   }
 } */
 
 /* On screens that are 600px wide or less, the background color is olive */
 /* @media only screen and (max-width: 768px) {
   background-color: olive;
 } */
 
 
 
 /* Media Queries: Tabled Portrait */
 /* @media screen and (max-width: 768px) {
   .HomePageLeft { width:100%; }
   .HomePageRight { width:100%; margin:0; border:none; }
 } */
 
 img { max-width: 100%; height: auto; }
 
 
 /* 
  @media (max-device-width:1200px) {
   .HomePageRight{
     display: none;
   }
 }  */
 
 
 /* @media (min-device-width:1200px) {
   .HomePageRight{
     display: flex;
   }
 }  */
 /* 
 @media (max-device-width:800px) {
   img[data-src-800px] {
       content: attr(data-src-800px, url);
   }
 } */
 
 
 
